:root {
    --body-background-color: #fff;
    --body-text-color: rgb(61, 61, 60);
    --card-background-color: rgb(244, 244, 243);
    --nav-background-color: #fff;
    --nav-border-bottom-color: rgb(244, 244, 243);
  }